        <section id="students">
            <div class="row">
                <h3 class="l-title">#תעודה</h3>
                <div class="certificate">
                    <img src="{{ url_for('static', filename=certification) }}">
                </div>
            </div>
        </section>
