        <section id="students">
            <div class="row">
                <h1> #תעודה</h1>
                <div class="certificate">
                    <img src="{{ url_for('static', filename=certification) }}">
                </div>
            </div>
        </section>
