        <section id="students">
            <div class="row">
                <h1> #תעודה</h1>
                <p class="para-s">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officiis atque ab quaerat, velit
                    sunt
                    libero? Saepe, exercitationem dolor! Obcaecati aut nam quisquam at voluptates eos quas id, magnam
                    dolor.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut corrupti modi soluta ad, quibusdam
                    neque
                    qui quod maiores minus iusto nesciunt nihil alias perspiciatis aliquam eos, doloribus dignissimos
                    amet?
                </p>
            </div>
        </section>
