    <footer>
        <div class="row flex-row">
            <div>
                <span><b>הפכו לחלק מהקהילה:</b></span>
                <ul>
                    <li>
                        <a href="https://forums.pythonic.guru/" title="Python forum link" target="_blank">
                            פורום לומדים פייתון
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <span><b>קרדיטים:</b></span>
                <ul>
                    <li>
                        עיצוב אתר:<a href="http://www.linkedin.com/in/aviad-amar-368405aa" target="_blank">אביעד עמר</a>
                    </li>
                    <li>עריכה לשונית: <a href="https://www.dafibarilan.com/about/" target="_blank">דפי בר אילן</a></li>
                    <li>לוגו ותעודה: <a href="https://www.elielart.com/about" target="_blank">אליאל לוי</li>
                    <li>תמונת רקע: <a href="https://pixabay.com/it/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2557576">StockSnap</a>
                        מ־<a href="https://pixabay.com/it/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2557576">Pixabay</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
