    <header>
        <div class="row flex-row" id="header-flex">
            <div class="flex-col" id="intro">
                <h1 id="title-xxl">לומדים פייתון</h1>
                <p class="para-m">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, totam cum saepe deleniti ab dolore vel recusandae ducimus. Sint dolores earum nihil in cupiditate animi nulla repellendus beatae illum voluptatem!  lorem
                </p>
                <a href="#about" class="button"> קרא עוד </a>
            </div>
            <div id="intro-quot">
                <p> "I may not have gone where I intended to, but I think I have ended up where I needed
                    to be"
                </p>
                <p>(Douglas adams)</p>
            </div>
        </div>
    </header>
