    <header id="about">
        <div class="row" id="header-flex">
            <div class="flex-col" id="intro">
                <p class="title-xxl">לומדים פייתון</p>
                <ul class="para-m">
                    <li> בקורס "לומדים פייתון" 16 יחידות לימוד (פרקים). הקורס מתחיל בהיכרות עם עולם התכנות, ממשיך ביצירת פרויקט עם כלים וסביבה מהעולם "האמיתי", ומסתיים בכתיבת פרויקט קורסי משותף בהיקף רחב.</li>
                    <li>הקורס חינמי, ולכן אנחנו מרשים לעצמנו לדרוש מהחניכים רמת מחויבות גבוהה.</li>
                    <li>במהלך הקורס החניך לומד לעבוד ולחקור באופן עצמאי, לפתור בעיות במגוון תחומים ולהכיר את ארגז הכלים המודרני בתחום.</li>
                    <li>מדובר במסלול תובעני שבו, במשך שנה, נדרש החניך להגיש מטלות מאתגרות, בזמני הגשה שנקבעו מראש.</li>
                    <li>בקורס משולבות מטלות שעוברות Code Review של בודק ידני.</li>
                    <li>התעודה מוענקת רק לחניכים שהגישו את כל המטלות בזמן. תעודת "מצטיין" מוענקת לחניכים שהגישו את כל המטלות בזמן, בסטנדרט עבודה גבוה במיוחד.</li>
                </ul>
                <a href="#syllabus" class="button"> לסילבוס </a>
            </div>
        </div>
    </header>
