<!doctype html>
<html lang="he" dir="rtl">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />

    <!-- Icons -->
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <title>לומדים פייתון - מיזם ללימוד פייתון בחינם</title>
</head>

<body>
    <nav>
        <div class="row flex-row">
            <a href=""><img src="../static/img/logo.png" id="logo"></a>
            <div id="hamburger-bar">
                <ion-icon name="menu"></ion-icon>
            </div>
            <ul id="navigation" class="navigation-open">
                <li class="nav-title"><a href="#about">על המיזם </a></li>
                <li class="nav-title"><a href="#students">תעודה</a> </li>
                <li class="nav-title"> <a href="#techs">טכנולוגיות</a> </li>
                <li class="nav-title"><a href="#syllabus"> סילבוס</a href="#syllabus"> </li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="row flex-row" id="header-flex">
            <div class="flex-col" id="intro">
                <h1 id="title-xxl">לומדים פייתון</h1>
                <p class="para-m">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, totam cum saepe deleniti ab dolore
                    vel
                    recusandae ducimus. Sint dolores earum nihil in cupiditate animi nulla repellendus beatae illum
                    voluptatem!
                    lorem
                </p>
                <a href="#about" class="button"> קרא עוד </a>
            </div>
            <div id="intro-quot">
                <p> "I may not have gone where I intended to, but I think I have ended up where I needed
                    to be"
                </p>
                <p>(Douglas adams)</p>
            </div>
        </div>
    </header>
    <main>
        <section id="about">
            <div class="row">
                <h1>#על_המיזם</h1>
                <p class="para-s">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officiis atque ab quaerat, velit
                    sunt
                    libero? Saepe, exercitationem dolor! Obcaecati aut nam quisquam at voluptates eos quas id, magnam
                    dolor.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut corrupti modi soluta ad, quibusdam
                    neque
                    qui quod maiores minus iusto nesciunt nihil alias perspiciatis aliquam eos, doloribus dignissimos
                    amet?
                </p>
            </div>
        </section>
        <section id="students">
            <div class="row">
                <h1> #תעודה</h1>
                <p class="para-s">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officiis atque ab quaerat, velit
                    sunt
                    libero? Saepe, exercitationem dolor! Obcaecati aut nam quisquam at voluptates eos quas id, magnam
                    dolor.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ut corrupti modi soluta ad, quibusdam
                    neque
                    qui quod maiores minus iusto nesciunt nihil alias perspiciatis aliquam eos, doloribus dignissimos
                    amet?
                </p>
            </div>
        </section>
        <section id="techs">
            <div class="row">
                <h1> #טכנולוגיות</h1>
                <ul class="flex-row">
                    <li>
                        <ion-icon name="logo-python"></ion-icon>
                        <h2>PYTHON</h2>
                    </li>
                    <li>
                        <ion-icon name="logo-html5"></ion-icon>
                        <h2>HTML</h2>
                    </li>
                    <li>
                        <ion-icon name="logo-css3"></ion-icon>
                        <h2>CSS</h2>
                    </li>
                    <li>
                        <ion-icon name="server-outline"></ion-icon>
                        <h2>SQL</h2>
                    </li>
                    <li>
                        <ion-icon name="git-branch-outline"></ion-icon>
                        <h2>GIT</h2>
                    </li>
                </ul>
            </div>
        </section>
        <section id="syllabus">
            <div class="row">
                <h1> #סילבוס_הקורס</h1>
                <p class="para-s">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt officiis atque ab quaerat, velit
                    sunt.<br>
                    לחץ על השבוע הרצוי לקריאה על התוכן הנלמד
                </p>
                <div id="weeks">
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 1</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                פרק זה מספק נחיתה רכה לעולם התכנות, ומניח את היסודות לקראת הפרקים הבאים. במסגרת הפרק
                                החניכים לומדים להשתמש בלוגיקה בוליאנית ובאופרטורי השוואה, ומתרגלים כתיבת תוכנית בסיסית
                                המקבלת קלט ומחזירה פלט.
                            </p>
                            <ul class="sub-cat">
                                <li> הקדמה </li>
                                <li> אריתמטיקה</li>
                                <li> טיפוסי נתונים </li>
                                <li> קלט ופלט </li>
                                <li> משתנים </li>
                                <li> לוגיקה בוליאנית </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 2</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                במסגרת הפרק החניכים נפגשים לראשונה עם היכולת להשפיע על מבנה זרימת התוכנית ועם עקרון
                                החלוקה ליחידות קטנות שלהן אחריות יחידה. זהו השלב שבו החניכים יכירו וישתמשו לראשונה במבנה
                                נתונים – רשימה. בפרק זה החניך מקבל לראשונה תרגיל שמעודד אותו לחקור את התיעוד בעצמו.
                                עידוד החניך למחקר עצמאי הולכת וגוברת ככל שהקורס מתקדם, ונהפכת בחציו השני של הקורס לערך
                                מרכזי בעבודה.
                            </p>
                            <ul class="sub-cat">
                                <li> תנאים </li>
                                <li> פונקציות</li>
                                <li> רשימות </li>
                                <li> פעולות על מחרוזות </li>
                                <li> תיעוד </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 3</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                החניכים ילמדו לראשונה עם לולאות המבוססות על ביטוי בוליאני. במהלך התרגול הם יתקלו לראשונה
                                בבאגים שקשה להבין מנין הם נובעים, ויעברו את חוויית ניפוי התקלים המשמעותית הראשונה שלהם.
                                בפרק זה החניך מקבל לראשונה כלים להתמודדות עם בעיות מהעולם האמיתי (קבצים, לולאות). זה גם
                                השלב בו החניך יפגוש לראשונה מבנה נתונים Immutable ־י, וילמד לראשונה על מאפיין תכנותי
                                מורכב שדורש הבנה של התנהגות השפה מאחורי הקלעים.
                            </p>
                            <ul class="sub-cat">
                                <li> לולאות while </li>
                                <li> פעולות על רשימות</li>
                                <li> חיתוך מחרוזות ורשימות </li>
                                <li> קבצים </li>
                                <li> Mutability </li>
                                <li> טאפלים </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 4</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                בפרק זה החניכים משתמשים לראשונה בתכונת ה־iterable־יות של מבני נתונים באמצעות לולאת ה־for
                                של פייתון. בפרק דנים על מילונים ומבני נתונים מקוננים, תוך ניסיון להקנות אינטואיציה. זה
                                גם הפרק שבו הם משתמשים לראשונה בטכניקות שיהפכו את הקוד לקריא יותר תוך שימוש בתחביר
                                “פייתוני”. בסיום הפרק, החניכים קוראים על אוטומט סופי דטרמיניסטי. כתרגיל, עליהם לכתוב
                                פונקציה שמקבלת כקלט מצבים, כללי מעבר וקלטים, ומחזירה את המצב הסופי שאליו הגיעה בסיום
                                ריצת האוטומט עבור כל קלט.
                            </p>
                            <ul class="sub-cat">
                                <li> לולאות for </li>
                                <li> מילונים ופעולות עליהם</li>
                                <li> Unpacking </li>
                                <li> פונקציות מובנות בשפה </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 5</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 6</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 7</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 8</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 9</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 10</b></p>
                            <div>
                                <ion-icon name="logo-github"></ion-icon>
                                <ion-icon name="git-branch-outline"></ion-icon>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 11</b></p>
                            <div>
                                <ion-icon name="logo-css3"></ion-icon>
                                <ion-icon name="logo-html5"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 12</b></p>
                            <div>
                                <ion-icon name="logo-github"></ion-icon>
                                <ion-icon name="git-branch-outline"></ion-icon>
                                <ion-icon name="logo-css3"></ion-icon>
                                <ion-icon name="logo-html5"></ion-icon>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 13</b></p>
                            <div>
                                <ion-icon name="server-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 14</b></p>
                            <div>
                                <ion-icon name="logo-github"></ion-icon>
                                <ion-icon name="git-branch-outline"></ion-icon>
                                <ion-icon name="server-outline"></ion-icon>
                                <ion-icon name="logo-css3"></ion-icon>
                                <ion-icon name="logo-html5"></ion-icon>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 15</b></p>
                            <div>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>שבוע 16</b></p>
                            <div>
                                <ion-icon name="logo-github"></ion-icon>
                                <ion-icon name="git-branch-outline"></ion-icon>
                                <ion-icon name="logo-javascript"></ion-icon>
                                <ion-icon name="server-outline"></ion-icon>
                                <ion-icon name="logo-css3"></ion-icon>
                                <ion-icon name="logo-html5"></ion-icon>
                                <ion-icon name="logo-python"></ion-icon>
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p>
                                כאן תבוא הפסקת הסבר עך השבוע
                            </p>
                            <ul class="sub-cat">
                                <li> תת נושא 1 </li>
                                <li> תת נושא 2</li>
                                <li> ... </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="row flex-row">
            <div>
                <span><b>הפכו לחלק מהקהילה:</b></span>
                <ul>
                    <li><a href="https://forums.pythonic.guru/" title="Python forum link">קישור לפורום</a></li>
                    <li>קישור לפרויקט קוד הפתוח</li>
                </ul>
            </div>
            <div>
                <span><b>קרדיטים:</b></span>
                <ul>
                    <li> Header photo by: <a
                            href="https://pixabay.com/it/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2557576">StockSnap</a>
                        from <a
                            href="https://pixabay.com/it/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2557576">Pixabay</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/js/scripts.py"></script>
</body>

</html>