    <nav>
        <div class="row flex-row">
            <a href=""><img src="../static/img/logo.png" id="logo"></a>
            <div id="hamburger-bar">
                <ion-icon name="menu"></ion-icon>
            </div>
            <ul id="navigation" class="navigation-open">
                <li class="nav-title"><a href="#about">על המיזם </a></li>
                <li class="nav-title"><a href="#students">תעודה</a> </li>
                <li class="nav-title"> <a href="#techs">טכנולוגיות</a> </li>
                <li class="nav-title"><a href="#syllabus"> סילבוס</a href="#syllabus"> </li>
            </ul>
        </div>
    </nav>
