        <section id="syllabus">
            <div class="row">
                <h3 class="l-title"> #סילבוס_הקורס</h3>
                <div id="weeks">
                    {% for week in syllabus %}
                    <div class="week">
                        <div class="week-title flex-row">
                            <ion-icon name="caret-back-outline"></ion-icon>
                            <p><b>פרק {{ loop.index }}</b></p>
                            <div>
                                {%- for icon in week.icons[::-1] -%}
                                    <ion-icon name="{{ icon }}"></ion-icon>
                                {% endfor -%}
                            </div>
                        </div>
                        <div class="week-info sub-cat-closed">
                            <p class="para-m">
                                {{ week.description }}
                            </p>
                            <span class="para-s"><strong>רשימת נושאים:</strong></span>
                            <ul class="sub-cat">
                                {%- for subject in week.topics -%}
                                    <li>{{ subject }}</li>
                                {%- endfor %}
                            </ul>
                            <div class="week-link">
                                <a href="" target="_blank">
                                    קישור למחברת מבוא
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
