        <section id="techs">
            <div class="row">
                <h3 class="l-title">#טכנולוגיות</h3>
                <ul class="flex-row">
                    <li title="PYTHON">
                        <img src="{{ url_for('static', filename='img/icons/logo-python-color.svg') }}">
                        <h2 class="xl-title">PYTHON</h2>
                    </li>
                    <li title="HTML5">
                        <ion-icon name="logo-html5"></ion-icon>
                        <h2 class="xl-title">HTML</h2>
                    </li>
                    <li title="CSS">
                        <ion-icon name="logo-css3"></ion-icon>
                        <h2 class="xl-title">CSS</h2>
                    </li>
                    <li title="SQL">
                        <ion-icon name="server-outline"></ion-icon>
                        <h2 class="xl-title">SQL</h2>
                    </li>
                    <li title="GIT">
                        <ion-icon name="git-branch-outline"></ion-icon>
                        <h2 class="xl-title">GIT</h2>
                    </li>
                </ul>
            </div>
        </section>
