        <section id="techs">
            <div class="row">
                <h2>#טכנולוגיות</h2>
                <ul class="flex-row">
                    <li>
                        <ion-icon name="logo-python"></ion-icon>
                        <h3>PYTHON</h3>
                    </li>
                    <li>
                        <ion-icon name="logo-html5"></ion-icon>
                        <h3>HTML</h3>
                    </li>
                    <li>
                        <ion-icon name="logo-css3"></ion-icon>
                        <h3>CSS</h3>
                    </li>
                    <li>
                        <ion-icon name="server-outline"></ion-icon>
                        <h3>SQL</h3>
                    </li>
                    <li>
                        <ion-icon name="git-branch-outline"></ion-icon>
                        <h3>GIT</h3>
                    </li>
                </ul>
            </div>
        </section>
