        <section id="techs">
            <div class="row">
                <h1> #טכנולוגיות</h1>
                <ul class="flex-row">
                    <li>
                        <ion-icon name="logo-python"></ion-icon>
                        <h2>PYTHON</h2>
                    </li>
                    <li>
                        <ion-icon name="logo-html5"></ion-icon>
                        <h2>HTML</h2>
                    </li>
                    <li>
                        <ion-icon name="logo-css3"></ion-icon>
                        <h2>CSS</h2>
                    </li>
                    <li>
                        <ion-icon name="server-outline"></ion-icon>
                        <h2>SQL</h2>
                    </li>
                    <li>
                        <ion-icon name="git-branch-outline"></ion-icon>
                        <h2>GIT</h2>
                    </li>
                </ul>
            </div>
        </section>
